{{define "content"}}
<h2>{{.Title}}</h2>

<div class="section-thread">
  {{range .Contents}}
  {{if eq .UserID .LoginUserID}}
  <div class="thread-content self-content">
    <form role="form" action="" method="POST">
      <div class="content-name">{{.ContentIDInThread}} : 名無しのプー太郎 {{.CreatedAt}}</div>
      <p class="content-text">
        <input type="text" value="{{.Content}}" class="thread-form" name="content">
      </p>
      <div class="content-btn">
        <button type="submit" class="update-btn content-btn" data-action="/index/update/{{.ID}}">編集</button>
        <button type="submit" class="delete-btn content-btn" data-action="/index/delete/{{.ID}}">削除</button>
      </div>
    </form>
  </div>
  {{else if ne .UserID .LoginUserID}}
  <div class="thread-content">
    <div class="content-name">{{.ContentIDInThread}} : 名無しのプー太郎 {{.CreatedAt}}</div>
    <p class="content-text">{{.Content}}</p>
  </div>
  {{end}}
  {{end}}
</div>

<form class="form-newcontent" role="form" action="/index/create/{{.LoginUserID}}" method="post">
  <h2>会話に参加する</h2>
  <textarea class="new-content-text" name="content" id="content">ここにテキストを入力してね。</textarea>
  <input type="hidden" name="id" value="{{.ID}}">
  <button type="submit" class="create-btn">投稿する</button>
</form>
{{end}}