{{define "layout"}}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="/static/css/layout.css">
  <!-- 目のアイコン -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <title>もんた。掲示板</title>

  <script src="/static/js/jquery-3.6.0.min.js"></script>
</head>
<body>
  <header class="header-image">
    <img src="/static/img/monta-keijiban-front-image.jpg">
  </header>
  <div class="wrapper">
    <div class="keijiban-title">
      <h1 class="keijiban-title-h1">
        {{if .UserName}}
        <a href="/">もんた。掲示板</a><span>（ {{.UserName}} でログイン済み）</span>
        {{else}}
        <a href="/">もんた。掲示板</a>
        {{end}}
      </h1>
      <div>
        {{template "side-btn"}}
      </div>
    </div>
    <div class="content">
      <div class="main-content">
        {{template "content" .}}
      </div>
      <div class="side-menu">
        {{template "side-menu" .}}
      </div>
    </div>
  </div>
  <div class="footer">
    <footer>
      &copy; monta. keijiban
    </footer>
  </div>
</body>
</html>
{{end}}