{{define "content"}}
<h2>スレッドタイトル</h2>
<div class="section-thread">
  <div class="thread-content">
    <div class="content-name">1:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。自分のコンテントです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">2:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">3:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">4:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">5:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">5:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">5:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">5:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。自分のコンテントです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">5:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">5:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
  <div class="thread-content">
    <div class="content-name">5:テスト太郎 2022/08/10(月) 20:12:10</div>
    <p class="content-text">これはテストです。</p>
  </div>
</div>
{{end}}