{{define "content"}}
<h2 class="thread-title">{{.Title}}</h2>
カテゴリー : <a href="/category/{{.CategoryID}}" class="category-span"><span>{{.CategoryName}}</span></a>

<div class="section-thread">
  {{range .Contents}}
  <div class="thread-content">
    <div class="content-name">{{.ContentIDInThread}} : <span class="user-name">{{.UserName}}さん</span>  {{.CreatedAt}}</div>
    <pre class="content-text">{{.Content}}</pre>
  </div>
  {{end}}
  <div class="induction-text">
    <p>
      会話に参加したい人はログインか登録してね！
    </p>
    <div class="induction-btn">
      <a href="/login" class="login">ログイン</a>
      <a href="/signup" class="signup">登録する</a>
    </div>
  </div>
</div>
{{end}}