@charset "utf-8";

/* 共通のcss */
body {
  font-size: 100%;
}

li {
  list-style: none;
  margin-bottom: 16px;
  font-size: 0.9rem;
}

img {
  width: 100%;
}

textarea {
  resize: none;
}






/* top.htmlのcss */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.keijiban-title {
  margin-top: 30px;
  margin-bottom: 5px;
  border: solid 1px #000;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  
  box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -moz-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
}

.setting {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.keijiban-title-h1 a{
  color: black;
  text-decoration: none;
}

.keijiban-title-h1 span {
  font-size: 1.2rem;
  color: gray;
  vertical-align: middle;
}

.keijiban-title div {
  width: 20%;
  height: auto;
  margin: auto 0;
}

.keijiban-title div a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 2%;
  border-radius: 8px;
}

.keijiban-title .login {
  background-color:rgb(49, 87, 255);
}

.keijiban-title .signup {
  background-color:rgb(221, 56, 56);
}

/* logout.htmlのcss */
.keijiban-title .logout {
  background-color:rgb(221, 56, 56);
  margin-left: 60px;
}


/* headerのcss */
.header-image {
  width: 100%;
  height: 200px;
}

.header-image img {
  height: 200px;
  object-fit: cover;
  object-position: 100% 100%;
}

/* contentのcss */
.content {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.main-content {
  width: calc(75% - 2px);
  border: solid 1px #000;
  border-radius: 8px;
  padding: 2%;

  box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -moz-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
}

.threads {
  padding: 3%;
}

.content .main-content li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

/* side-menuのcss */
.side-menu {
  width: calc(25% - 2px);
  border: solid 1px #000;
  border-radius: 8px;
  padding: 2%;

  box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -moz-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
}

.side-menu ul {
  padding: 5% 5% 20% 5%;
}

.popular-rank {
  font-size: 1.2rem;
  font-weight: bold;
}

/* footerのcss */
.footer {
  color: white;
  background-color: black;
  height: 300px;
  padding: 150px 0px;
  text-align: center;
}










/* thread.htmlのcss */
.section-thread {
  padding: 3%;
}

.thread-content {
  margin-bottom: 20px;
  background-color: rgb(240, 240, 240);
  padding: 3%;
  border-radius: 20px;
  width: 90%;
}

.content-name {
  font-size: 0.8rem;
}

.user-name {
  font-weight: bold;
  font-size: 0.9rem;
}

.content-text {
  font-size: 0.9rem;
  padding: 1% 1% 0 1%;
  font-weight: normal;
}

.self-content {
  background-color: rgb(181, 255, 158);
  margin-left: auto;
  margin-right: 0;
}

.induction-text {
  padding: 10% 5% 5% 5%;
  text-align: center;
}

.induction-text p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.induction-text a {
  border-radius: 20px;
  padding: 2% 3%;
  color: white;
  text-decoration: none;
}

.induction-text .login {
  background-color:rgb(49, 87, 255);
}

.induction-text .signup {
  background-color:rgb(221, 56, 56);
  margin-left: 20px;
}




/* signup.htmlのcss */
.form-signin {
  padding: 3%;
}

.form-control {
  width: 100%;
  border: solid 1px rgb(54, 54, 54);
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 16px;
}

.btn-signup {
  background-color:rgb(221, 56, 56);
  color: white;
  padding: 1.5%;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* login.htmlのcss */
.form-login {
  padding: 3%;
}

.btn-login {
  background-color:rgb(49, 87, 255);
  color: white;
  padding: 1.5%;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.login-error {
  display: none;
}







/* index.htmlのcss */
.form-newcontent {
  margin-top: 30px;
}

.form-newcontent h2 {
  margin-bottom: 10px;
}

.form-newcontent .form-group {
  padding: 1% 3%;
}

.new-thread {
  width: 100%;
  /* display: block; */
  border: solid 1px black;
  padding: 0.6%;
  margin-bottom: 20px;
}

#category-select {
  width: 100%;
  display: block;
  border: solid 1px black;
  padding: 0.6%;
  margin-bottom: 10px;
}








/* index-thread.htmlのcss */
.form-newcontent {
  padding: 2%;
}

/* .form-newcontent input {
  width: 100%;
  display: block;
  border: solid 1px black;
  padding: 0.6%;
  margin-bottom: 8px;
} */

.new-content-text {
  width: 100%;
  height: 150px;
  /* display: block; */
  border: solid 1px black;
  padding: 0.6%;
  margin-bottom: 8px;
}

.create-btn {
  background-color: rgb(0, 210, 95);
  color: white;
  padding: 1%;
  border-radius: 20px;
  display: block;
  margin: 0 0 0 auto;
}

.content-btn {
  text-align: right;
}

.update-btn {
  background-color: rgb(49, 87, 255);
  color: white;
  padding: 1% 2%;
  border-radius: 20px;
}

.delete-btn {
  background-color: rgb(221, 56, 56);
  color: white;
  padding: 1% 2%;
  border-radius: 20px;
}

.thread-form {
  width: 100%;
  height: 0;
  display: block;
  font-size: 1.2rem;
  border-bottom: solid 1px black;
  padding: 0.6% 0.6% 0 0.6%;
  margin-bottom: 8px;
  background-color: rgb(181, 255, 158);
}

.thread-title {
  font-size: 2rem;
  margin: 0 0 16px 0;
}

.category-span {
  padding: 0.9% 1.5%;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  color: black;
  text-decoration: none;
}






/* error.htmlのcss */
.errors {
  color: red;
  font-size: 0.9rem;
}

.err_text, .err_content {
  color: red;
  margin: 8px 0;
  font-weight: bold;
}



/* index-category.htmlのcss */
.index-category-title-span {
  font-size: 2.2rem;
}


/* setting.htmlのcss */
.setting-section {
  padding: 3%;
}

.name-input {
  border: solid 1px black;
  width: 100%;
  padding: 0.6%;
  margin-bottom: 20px;
  margin-top: 8px;
  border-radius: 5px;
}

.password-input {
  border: solid 1px black;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 8px;
  padding: 0.6%;
  border-radius: 5px;
  background-color: transparent;
}

.password-input input {
  width: 96%;
  border: solid 1px rgb(54, 54, 54);
}

#textPassword, #textPasswordCheck {
  border: none; /* デフォルト枠線を消す */
}

.setting-btn {
  background-color: rgb(0, 210, 95);
  color: white;
  padding: 1%;
  border-radius: 5px;
  display: block;
  margin: 0 0 0 auto;
}

#err_password, #err_check, #err_email, #err_name {
  color: red;
  margin: 8px 0;
  font-weight: bold;
}

.err_login {
  color: red;
  margin: 10px 0px;
  font-weight: bold;
}


