@charset "utf-8";

/* 共通のcss */
body {
  font-size: 100%;
}

li {
  list-style: none;
}

img {
  width: 100%;
}






/* top.htmlのcss */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.keijiban-title {
  margin-top: 30px;
  margin-bottom: 5px;
  border: solid 1px #000;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  
  box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -moz-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
}

.keijiban-title-h1 a{
  color: black;
  text-decoration: none;
}

.keijiban-title div {
  width: 20%;
  height: auto;
  margin: auto 0;
}

.keijiban-title div a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 2%;
  border-radius: 8px;
}

.keijiban-title .login {
  background-color:rgb(49, 87, 255);
}

.keijiban-title .signup {
  background-color:rgb(221, 56, 56);
}

/* logout.htmlのcss */
.keijiban-title .logout {
  background-color:rgb(221, 56, 56);
  margin-left: 60px;
}


/* headerのcss */
.header-image {
  width: 100%;
  height: 200px;
}

.header-image img {
  height: 200px;
  object-fit: cover;
  object-position: 100% 100%;
}

/* contentのcss */
.content {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.main-content {
  width: calc(75% - 2px);
  border: solid 1px #000;
  border-radius: 8px;
  padding: 2%;

  box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -moz-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
}

.threads {
  padding: 3%;
}

.content .main-content li {
  margin-bottom: 8px;
}

/* side-menuのcss */
.side-menu {
  width: calc(25% - 2px);
  border: solid 1px #000;
  border-radius: 8px;
  padding: 2%;

  box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
  -moz-box-shadow:rgba(238, 238, 238, 0.360784) 0px 0px 24px 20px;
}

.side-menu ul {
  padding: 5% 5% 12px 5%;
}

.side-menu ul li {
  margin-bottom: 4px;
}

/* footerのcss */
.footer {
  color: white;
  background-color: black;
  height: 300px;
  padding: 150px 0px;
  text-align: center;
}










/* thread.htmlのcss */
.section-thread {
  padding: 3%;
}

.thread-content {
  margin-bottom: 20px;
  background-color: whitesmoke;
  padding: 3%;
  border-radius: 20px;
  width: 90%;
}

.content-name {
  font-size: 0.8rem;
}

.content-text {
  font-size: 1.2rem;
  padding: 1%;
}

.self-content {
  background-color: rgb(181, 255, 158);
  margin-left: auto;
  margin-right: 0;
}




/* signup.htmlのcss */
.form-signin {
  padding: 3%;
}

.form-control {
  width: 100%;
  border: solid 1px rgb(54, 54, 54);
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 16px;
}

.btn-signup {
  background-color:rgb(221, 56, 56);
  color: white;
  padding: 1.5%;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* login.htmlのcss */
.form-login {
  padding: 3%;
}

.btn-login {
  background-color:rgb(49, 87, 255);
  color: white;
  padding: 1.5%;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}






/* index-thread.htmlのcss */
.form-newcontent {
  padding: 2%;
}

/* .form-newcontent input {
  width: 100%;
  display: block;
  border: solid 1px black;
  padding: 0.6%;
  margin-bottom: 8px;
} */

.new-content-text {
  width: 100%;
  height: 150px;
  /* display: block; */
  border: solid 1px black;
  padding: 0.6%;
  margin-bottom: 8px;
}

.create-btn {
  background-color: rgb(0, 210, 95);
  color: white;
  padding: 1%;
  border-radius: 20px;
  display: inline-block;
  margin-left: 86%;
}

.content-btn {
  text-align: right;
}

.update-btn {
  background-color: rgb(49, 87, 255);
  color: white;
  padding: 1% 2%;
  border-radius: 20px;
}

.delete-btn {
  background-color: rgb(221, 56, 56);
  color: white;
  padding: 1% 2%;
  border-radius: 20px;
}

.thread-form {
  width: 100%;
  display: block;
  border: solid 1px black;
  padding: 0.6%;
  margin-bottom: 8px;
  background-color: white;
}






/* error.htmlのcss */
.errors {
  color: red;
  font-size: 0.9rem;
}